.NavBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px black;
    background: linear-gradient(45deg, rgba(3, 33, 97, 0.8), rgba(59, 82, 126, 0.8)),
                linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5));
    padding: 20px;
    margin: -10px;
    height: 50px;
}

.NavBarButtons {
    display: flex;
    align-items: center;
}

.profile-dropdown {
    z-index: 1;
    display: flex;
    position: absolute;
    flex-direction: column;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(226, 226, 226, 0.7);
    padding: 10px 10px;
    padding-top: 20px;
    right: 15px;
    top: 75px;
    list-style: none;
    border-radius: 2px;
}

.profileButtons {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.NavButtons {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100px;
    border-top: solid 1px rgb(160, 165, 179);
}

.NavHome {
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    border-radius: 2px;
    width: 90px;
    /* margin-left: 15px; */
    margin: 10px 15px;
}

.NavHomeButton {
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: lightgray;
    border-radius: 2px;
    width: 90px;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-left: 15px; */
    margin: 20px 5px 5px 5px;
}

.NavButton {
    margin: 5px;
    padding: 3px;
    background-color: lightgray;
    border: none;
    border-radius: 2px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.NavHome:hover, .NavButton:hover, .NavHomeButton:hover {
    background-color: grey;
    color: white;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
    transition: all 0.3s;
}

#wipHeader {
    font-size: 30px;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#wipHeader:hover {
    color: rgb(0, 0, 97);
    transition: all 0.3s;
}

.MenuButton {
    padding: 0px;
    width: 40px;
    height: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(18, 32, 95);
    border-radius: 2px;
    border: none;
    margin: 10px;
}

/* .create {
    padding: 0px;
} */

.MenuButton:hover{
    background-color: rgb(166, 182, 226);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s;
}

#slider {
    animation-name: slidein;
    animation-duration: 1s;
}

@keyframes slidein {
    from {
        left: 100%;
    }

    to {
        left: 0%;
    }
}


.pencil:hover .fas {
    animation: pencilJiggle 0.6s infinite;
}

@keyframes pencilJiggle {
    0% {
        transform: rotate(10deg) translateX(4px)
    }
    65% {
        transform: rotate(-25deg) translateX(2px)
    }
    100% {
        transform: rotate(10deg) translateX(4px)
    }
}

.glass:hover .fas {
    animation: glassJiggle 0.8s infinite;
}

@keyframes glassJiggle {
    0% {
        transform: rotate(10deg) scale(1.05)
    }
    50% {
        transform: rotate(-10deg) scale(1.15)
    }
    100% {
        transform: rotate(10deg) scale(1.05)
    }
}

.menu:hover .fas {
    animation: menuJiggle 0.8s infinite
}

@keyframes menuJiggle {
    0% {
        transform: scale(1.0, 0.9)
    }
    50% {
        transform: scale(1.0, 1.5)
    }
    100% {
        transform: scale(1.0, 0.9)
    }
}
