.projectCardContainer {
    width: 350px;
    margin-right: 20px;
 }

 .projectCardContainer:hover {
    box-shadow: -1px 1px 2px 2px rgba(0,0,0,0.35);
    transition: all 0.3s;
 }

 .projectCardContainer:hover .projectCard {
     background-color: rgb(158, 184, 221);
     transition: all 0.3s;
 }

 .projectHeader {
     display: flex;
     align-items: center;
     font-family: Arial, Helvetica, sans-serif;
     background-color: rgba(24, 46, 75, 0.25);
     padding: 20px;
     margin-top: -10px;
 }

 .projectUsername {
     background-color: rgb(192, 202, 211);
     height: 30px;
     width: 30px;
     border-radius: 100px;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 15px;
     margin-right: 10px;
     box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.25);
 }

 .projectCard {
     margin-bottom: 5px;
     width: 100%;
     height: 100%;
     background-color: rgb(189, 206, 235);
     border-radius: 2px;
     margin-right: 10px;
 }

 .likeProject {
     border: none;
     padding: 3px;
     background-color: rgba(0,0,0,0);
 }

 .projectCardHeader {
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-family: Arial, Helvetica, sans-serif;
     border-bottom: solid 1px rgb(95, 122, 211);
     padding: 10px;
     margin: 10px;
 }

 .projectTitle {
     text-decoration: none;
     color: black;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 600;
     font-size: 25px;
     padding: 5px;
     margin-bottom: 5px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     height: 30px;
 }

 .projectTitle:hover {
     color: rgb(55, 55, 126);
     font-family: Arial, Helvetica, sans-serif;
     font-size: 28px;
     transition: all 0.3s;
 }

 .projectDescription {
     height: 50px;
     font-family: Arial, Helvetica, sans-serif;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     padding: 0px 10px;
     margin: 10px;
 }

 .cardFooter {
     display: flex;
     font-family: Arial, Helvetica, sans-serif;
     justify-content: space-between;
     align-items: flex-end;
     background-color: rgba(24, 46, 75, 0.19);
 }

 .coverPhoto {
     width: 100%;
     margin: 0px;
     aspect-ratio: 16/9;
 }

 .projectTags {
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 10px;
    margin: 0px 15px;
    margin-top: 25px;
 }

 .editButton, .deleteButton {
     padding: 3px 8px;
     margin: 9px;
     border: none;
     border-radius: 2px;
     background-color: rgb(52, 64, 97);
     color: white;
     font-family: Arial, Helvetica, sans-serif;
 }

 .editButton:hover {
     background-color: rgb(166, 182, 226);
     color: black;
     box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
     transition: all 0.3s;
 }

 .deleteButton:hover {
     background-color: rgb(172, 37, 37);
     box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
     transition: all 0.3s;
 }

 .comments {
     display: flex;
     font-family: Arial, Helvetica, sans-serif;
     justify-content: space-between;
     align-items: center;
     margin: 0px 10px;
     padding: 5px;
 }

 .albumPhotosContainer {
     display: flex;
     flex-wrap: nowrap;
     overflow: scroll;
     height: 150px;
 }

 .photoCard {
     display: flex;
 }

 .photos {
     margin: 10px 15px 10px 0px;
 }

 .heartButton {
     left: 10px;
     position: relative;
     color: rgb(175, 20, 20);
 }

 .heartButton:hover {
     color: black;
     transition: all 0.5s;
 }

 .noHeart:hover {
     color: rgb(214, 5, 5);
     margin-right: -3px;
     font-size: 20px;
     transition: all 0.5s;
 }
